h1, h2, h3 {
  font-weight: bolder;

}

body {
  font-family: "Montserrat";
}

nav{

  background: #ff6e7f;  
  background: -webkit-linear-gradient(to right, #4682B4, #ff6e7f);  
  background: linear-gradient(to right, #4682B4, #ff6e7f);
  position: fixed;
  z-index: 10;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
  margin-left: -2rem;
  color: rgb(255, 255, 255);
 
}
.nav-item {
  padding: 0 1.5rem;
}
.nav-item:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
a.nav-link:hover{
  background: rgb(236, 213, 0);
  border-radius: 2rem;
}
.navbarlogo{
 height:100px;
 padding-right: 15px;
 padding-left: 5px;
 
}
.navbarlogo:hover{
  cursor: pointer;
}



/* title section */

  #title {
    background: #ff6e7f;  
    background: -webkit-linear-gradient(to right, #4682B4, #ff6e7f);  
    background: linear-gradient(to right, #4682B4, #ff6e7f);
    color: #fff;
    text-align: left;
  }

.big-heading {
  font-size: 2rem;
  line-height: 1.5;
}


.container-fluid{
  padding: 7% 15%;
 
}

.title-image {
  position: absolute;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 100%;
  position: absolute;
}

#rzp-button1{
  background-color: #e91e63;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  border: 2px solid transparent;
  background: #e91e63;
  box-shadow: inset 5px 5px 10px #5d0c28,
  inset -5px -5px 10px #ff309e;
  border-radius: 30px !important;
}

#rzp-button1:hover{
  background-color: #b60c45;
}

/* features */
#features {
  padding: 6% 6%;
  background-color: #fffed5; 
  z-index: 1;
  position: relative;
  background-color: #fffed5;
  /* display: flex;
  flex-direction: row; */
}

.flip-card{
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  display: inline-block;
  padding: 10px 10px 20px 20px;
  
  margin:0 60px;
  padding:20px 0px;
  /* background-color: black; */
 
}
.flip-card-inner{
  /* position: relative; */
  margin-left: 30px;
  margin-top: 28px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}

/* .flip-card:hover .flip-card-inner-2 {
  transform: rotateY(180deg);
  
}

.flip-card:hover .flip-card-inner-3 {
  transform: rotateY(180deg);
  
} */

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: lavenderblush;
  color: purple;
}

.flip-card-back {
  background-color: white;
  /* border: white; */
  color: white;
  transform: rotateY(180deg);
}
.icon {
  margin-bottom: 1rem;
}
 #icon1 {
  color: #cbfd17;
}
#icon2 {
  color: #69c4fd;
}
#icon3 {
  color: red;
}
p {
  color: #8f8f8f;
}
.feature-title{
  font-size: 1.3rem;
}

 testimonials 
 #testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
} 

/* call to action*/
#cta {
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 7% 15% 7%;
}

::-webkit-scrollbar{
  width: 20px;
}
 ::-webkit-scrollbar-thumb{

  background-color:#ff8e9bbd;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgb(145, 138, 138);
 }
 
 ::-webkit-scrollbar-track{
  background-color: #c0e1f0;
 }



/******************** FAQS Section*****************************/
/* #faq { */
  /*background-color: gray;*/
  /* background: #ff6e7f;  
  background: -webkit-linear-gradient(to right, #4682B4, #ff6e7f);  
  background: linear-gradient(to right, #4682B4, #ff6e7f);
  color: #fff;
  height:60vh;
  padding-top:50px;
} */
/* #faq h2{
  text-align:center;
}
.faq-container{
  width:70vw;
  height:40vh;
  border-radius:10px;
  margin: auto;
  padding:20px 50px ;
  margin-top:20px;
  background: #e91e63;
  box-shadow: inset 5px 5px 10px #5d0c28,
  inset -5px -5px 10px #ff309e;
  border-radius: 30px;
}

  
.question-div > p{
  padding:5px 8px 1px 8px;
  color:white;
  font-size:20px;
  display: inline-block;
}
.question-div i{
  float:right;
  color:white;
  font-size:15px;
}
.answer {
  color:black;
  width:65vw;
  padding:5px;
  position: absolute;
  background-color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:2;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #2b6ca1,
  inset -5px -5px 10px #ff309e;
  border-radius: 30px;
  padding: 30px 34px;
}
 */






#faq {
  /*background-color: gray;*/
  background: #ff6e7f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4682B4, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4682B4, #ff6e7f);
  color: #fff;
  height:60vh;
  padding-top:50px;
}
#faq > h2{
  padding-bottom: 2%;
  text-align: center;
}

a{
  color: #fff!important;	
  }
  ul.nav.nav-tabs > li{
    display: inline-block;
    line-height: 50px;
    height: 100%;
    text-transform:uppercase;
  }
  ul.nav.nav-tabs > li a{
    display:block;
    padding:15px;
    color: #fff!important;
    
  }
  ul.nav.nav-tabs > li a:hover, ul.nav.nav-tabs > li:hover{
    background:	#FB282F;
    color:#fff!important;
    text-decoration: none!important;
  }
  ul.nav.nav-tabs > li a.active{
    background:	#282425;
    color:#fff!important;
    text-decoration: none!important;
  }
  .card-header {
      background-color: rgb(245,245,245,0.3)!important;
    border-radius:0!important;
  }
  /* .card{
  border-radius: 10px;;
  background: #e91e63;
  } */
  
  .card > .card-header a::before {
      font-family: fontawesome;
      content: "\f067 ";
      color: #282425;
      float: right;
      margin-right: 15px;
      font-weight: 400;
      position: absolute;
      right: 0;
  }
 .card-body{
   color:darkgray;
 }

/* footer */

#footer {
  text-align: center;
  padding: 0 5%;
  /*background-color: #ffd1e1;*/
  background: #ff6e7f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7bfbe, #E6E6FA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6e7f, #E6E6FA);
}

.social-logo {
  margin: 40px 30px;
  font-size: 2rem;
}


.logo1 {
  color: #4f42ff;
}
.logo2 {
  color: #e6007b;
}

.logo3 {
  color: #00a8fa;
}

.logo4 {
   color: #ff293c;
}

.social-logo:hover {
  color: purple;
}

.p1, .p2 {
  color: #fff;
  margin: 9px;
}


/* responsive */
/* @media (max-width:990px) {
  .title-image {
    position: static;
  }

  .title {
    text-align: center;
  }

}


@media (max-width: 375px) {
  .container-fluid {
    padding: 3% 15% 7%;
  }
}
@media (max-width: 595px) {
  .social-logo {
    margin: 40px 10px;
    font-size: 1.40rem;
  }
  .p1, .p2 {
    font-size: 14px;
  }
} */

/* Header Responsive */
/* @media screen and (max-width: 412px) {
  .big-heading{
    margin-top:1.2rem;
    font-size: 1.7rem;
  }
  .navbar-brand{
    position:relative;
    top:1.3rem;
  }
  .navbar-toggler{
    position:relative;
    margin-top:-2rem;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 365px){
  .big-heading{
    font-size: 1.5rem;
  }
  .navbar-brand{
    font-size: 2rem;
    top:1.1rem;
  }
}
@media screen and (max-width: 295px){
  .big-heading{
    font-size: 1.3rem;
  }
  .navbar-brand{
    font-size: 1.6rem;
    top:0.7rem;
  }
} */

.title-image {
    filter: gray; 
    -webkit-filter: grayscale(1); 
    -webkit-transition: all .5s ease-in-out;  
  }

  img:hover {
  filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
  }


  

/* responsive */
@media (max-width:990px) {
  .title-image {
    position: static;
  }

  .title {
    text-align: center;
  }

}